<main>
    <article>
        <p>Naam: {{antwoorddata.Naam}}</p>
        <table>
            <tr>
                <th>{{antwoorddata.Vakken.[0]}}</th>
                <th>{{antwoorddata.Vakken.[1]}}</th>
                <th>{{antwoorddata.Vakken.[2]}}</th>
            </tr>
            <tr>
                <td>{{antwoorddata.Docenten.[0]}}</td>
                <td>{{antwoorddata.Docenten.[1]}}</td>
                <td>{{antwoorddata.Docenten.[2]}}</td>
            </tr>
            <tr>
                <td>{{antwoorddata.Weken.[0]}}</td>
                <td>{{antwoorddata.Weken.[1]}}</td>
                <td>{{antwoorddata.Weken.[2]}}</td>
            </tr>
            <tr>
                <td>Lesstof</td>
                <td>Lesstof</td>
                <td>Lesstof</td>
            </tr>
            <tr>
                <td>{{antwoorddata.Moeilijkheidsgraad.[0]}}</td>
                <td>{{antwoorddata.Moeilijkheidsgraad.[1]}}</td>
                <td>{{antwoorddata.Moeilijkheidsgraad.[2]}}</td>
            </tr>
            <tr>
                <td>Uitleg</td>
                <td>Uitleg</td>
                <td>Uitleg</td>
            </tr>
            <tr>
                <td>{{antwoorddata.Duidelijkheidsgraad.[0]}}</td>
                <td>{{antwoorddata.Duidelijkheidsgraad.[1]}}</td>
                <td>{{antwoorddata.Duidelijkheidsgraad.[2]}}</td>
            </tr>
            <tr>
                <td>Eigen inzicht</td>
                <td>Eigen inzicht</td>
                <td>Eigen inzicht</td>
            </tr>
            <tr>
                <td>{{antwoorddata.Understandinggraad.[0]}}</td>
                <td>{{antwoorddata.Understandinggraad.[1]}}</td>
                <td>{{antwoorddata.Understandinggraad.[2]}}</td>
            </tr>
        </table>
    </article>
</main>