<main>
    <article>
        <h2>Dankje wel voor het invullen van de enquete</h2>
        <p>naam: {{antwoorddata.Naam}}</p>
        <p>Studentnummer: {{antwoorddata.Studentnummer}}</p>
        <table>
            <tr>
                <th>Docent:</th>
                <th>Docent:</th>
                <th>Docent:</th>
            </tr>
            <tr>

                <td>{{antwoorddata.Docenten.[0]}}</td>
                <td>{{antwoorddata.Docenten.[1]}}</td>
                <td>{{antwoorddata.Docenten.[2]}}</td>
            </tr>
            <tr>
                <th>Week:</th>
                <th>Week:</th>
                <th>Week:</th>
            </tr>
            <tr>
                <td>{{antwoorddata.Weken.[0]}}</td>
                <td>{{antwoorddata.Weken.[1]}}</td>
                <td>{{antwoorddata.Weken.[2]}}</td>
            </tr>
            <tr>
                <th>Moeilijkheidsgraad:</th>
                <th>Moeilijkheidsgraad:</th>
                <th>Moeilijkheidsgraad:</th>
            </tr>
            <tr>
                <td>{{antwoorddata.Moeilijkheidsgraad.[0]}}</td>
                <td>{{antwoorddata.Moeilijkheidsgraad.[1]}}</td>
                <td>{{antwoorddata.Moeilijkheidsgraad.[2]}}</td>
            </tr>
            <tr>
                <th>Duidelijkheidsgraad</th>
                <th>Duidelijkheidsgraad</th>
                <th>Duidelijkheidsgraad</th>
            </tr>
            <tr>
                <td>{{antwoorddata.Duidelijkheidsgraad.[0]}}</td>
                <td>{{antwoorddata.Duidelijkheidsgraad.[1]}}</td>
                <td>{{antwoorddata.Duidelijkheidsgraad.[2]}}</td>
            </tr>
            <tr>
                <th>Understandinggraad:</th>
                <th>Understandinggraad:</th>
                <th>Understandinggraad:</th>
            </tr>
            <tr>
                <td>{{antwoorddata.Understandinggraad.[0]}}</td>
                <td>{{antwoorddata.Understandinggraad.[1]}}</td>
                <td>{{antwoorddata.Understandinggraad.[2]}}</td>
            </tr>
        </table>
    </article>
</main>